#---- For rest_server.py ----#
Flask
lxml

#---- For compu_racer_core.py ----#
tabulate
tqdm

#---- For geo_dns_resolver.py ----#
cachetools
IPy
ratelimiter

#---- For batch_sender_async.py ----#
aiodns
urllib3
uvloop
aiohttp==3.7.4
aiohttp_socks
async_timeout==3.0.1

#---- For batch.py ----#
beautifulsoup4

#---- Right dependencies ----#
certifi==2019.11.28
requests==2.25.1
jinja2
markupsafe
setuptools
itsdangerous

#---- GUI dependencies ----#
PyQt5